<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>method</key>
  <string>developer-id</string>
  <key>signingStyle</key>
  <string>manual</string>
  <key>teamID</key>
  <string>KJ8QMLWB97</string>
  <key>signingCertificate</key>
  <string>Developer ID Application</string>
  <key>provisioningProfiles</key>
  <dict>
    <key>com.roundrect.mermaidviewer</key>
    <string></string>
    <key>com.roundrect.mermaidviewer.quicklook</key>
    <string></string>
    <key>com.roundrect.mermaidviewer.thumbnail</key>
    <string></string>
  </dict>
</dict>
</plist>
